@page
@model Parallex_MFB.Web.Pages.boardModel
@{
}
@Html.AntiForgeryToken()

<link href="~/css/directors.css" rel="stylesheet" />


<div class="container paralax-header-container">

    <div class="row">
        <div class="col-md-6 col-md-12">
            <div class="container paralax-header-text paralax-nav-barlink-font">
                <p class="header-font">Board Of Directors</p>
            </div>
        </div>
    </div>

</div>

<section class="section-padding paralax-breadcrum">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xl-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">About Us</a></li>
                        <li class="breadcrumb-item"><a href="#">Board Of Directors</a></li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <p class="inner-page-header-font ">Board Of Directors</p>
            <p class="paralax-body-font">The Company's overall corporate policy is determined by a six member Board of Directors which is chaired by Dr. Deola Okeowo. The Board takes decisions on policy matters aimed at meeting the Company s goals and objectives.</p>
        </div>
    </div>
</div>

<div class="container director-container">
    <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="text-center">

                <div class="card shadow mb-5 director-card">
                    <img class="card-img-top img-circle rounded-circle" src="https://dummyimage.com/100x100/000/fff" alt="Card image cap">
                    <div class="card-block">
                        <p class="paralex-card-title header-font-card">Pastor Olufemi Akintayo Otenigbagbe.</p>
                        <p class="card-position">Managing Director/CEO</p>
                        <p class="paralex-card-text paralax-body-font-two">He is a professional and a highly qualified Manager offering more than twenty one years (21) years of working experience in the job market with eleven years...</p>
                        <button fileName="olufemi.json" type="button" class="btn paralax-btn-outline-yellow my-2 my-sm-0" data-toggle="modal" data-target=".bd-example-modal-lg">Read More <span class="fa fa-arrow-right"></span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="text-center">

                <div class="card shadow mb-5 director-card">
                    <img class="card-img-top img-circle rounded-circle" src="https://dummyimage.com/100x100/000/fff" alt="Card image cap">
                    <div class="card-block">
                        <p class="paralex-card-title header-font-card">Dr Adeola Philips, Chairperson (MBBS)</p>
                        <p class="card-position">Institute of Directors</p>
                        <p class="paralex-card-text paralax-body-font-two">She attended University Of Lagos, College Of Medicine, Lagos where she bagged a degree in Medicine, Surgery in 1994. She is a Director, CEO and...</p>
                        <button fileName="adeola.json" class="btn paralax-btn-outline-yellow my-2 my-sm-0" data-toggle="modal" data-target=".bd-example-modal-lg">Read More <span class="fa fa-arrow-right"></span></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">

            <div class="card shadow mb-5 director-card">
                <div class="text-center">

                    <img class="card-img-top img-circle rounded-circle" src="https://dummyimage.com/100x100/000/fff" alt="Card image cap">
                    <div class="card-block">
                        <p class="paralex-card-title header-font-card">Mrs. Modupeade Isesele (NIM)</p>
                        <p class="card-position">Institute of Directors</p>
                        <p class="paralex-card-text paralax-body-font-two">Mrs. Modupeade Isesele is a professional with several years of experience in commercial Banking. She graduated from University of Benin in 1988...</p>
                        <button fileName="modupeade.json" class="btn paralax-btn-outline-yellow my-2 my-sm-0" data-toggle="modal" data-target=".bd-example-modal-lg">Read More <span class="fa fa-arrow-right"></span></button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row paralex-margin">

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="text-center ">

                <div class="card shadow mb-5 director-card">
                    <img class="card-img-top img-circle rounded-circle" src="https://dummyimage.com/100x100/000/fff" alt="Card image cap">
                    <div class="card-block">
                        <p class="paralex-card-title header-font-card">Rev Tom Amenkhienan</p>
                        <p class="card-position">Institute of Directors</p>
                        <p class="paralex-card-text paralax-body-font-two">Rev. Tom Amenkhienan is graduate of Bendel State University (now Ambrose Alli University). He graduated wih a B.SC in Sociology in 1989...</p>
                        <button fileName="tom.json" class="btn paralax-btn-outline-yellow my-2 my-sm-0" data-toggle="modal" data-target=".bd-example-modal-lg">Read More <span class="fa fa-arrow-right"></span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="text-center">

                <div class="card shadow mb-5 director-card">
                    <img class="card-img-top img-circle rounded-circle" src="https://dummyimage.com/100x100/000/fff" alt="Card image cap">
                    <div class="card-block">
                        <p class="paralex-card-title header-font-card">Mr. Vale Odu-Thomas</p>
                        <p class="card-position">Institute of Directors</p>
                        <p class="paralex-card-text paralax-body-font-two">Mr. Vale Odu-Thomas is a professional with several years of experience in Quantity Surveying. He graduated from Obafemi Awolowo University...</p>
                        <button fileName="vale.json" class="btn paralax-btn-outline-yellow my-2 my-sm-0" >Read More <span class="fa fa-arrow-right"></span></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="~/images/BOD/ANED.png" width="100%" />
                        </div>
                        <div class="col-md-10">
                            <p class="mainheader paralax-body-font-two" id="director_name">This is his name</p>
                            <p class="appointmentHeader paralax-body-font-two" id="director_position">This is his appointment</p>
                            <div id="director_info">
                                <p class="paralax-body-font-two">
                                    Tom holds a Bachelor of Science degree in Sociology from the then Bendel State University (now Ambrose Alli University Ekpoma). He has a varied experience, leading Non-Governmental Organizations (NGOs), as well as international TV broadcasting operations.
                                    He is a member of the Institute of Directors (IoD). He chairs the Boards of Prime Feeds, Flour Mills and Loveworld Plus – one of the foremost 24hrs Satellite TV Stations in Africa.  Tom is also the Chairman of Innercity Mission for Children - an Internationally recognized NGO, dedicated to breaking the cycle of poverty, by delivering a sustainable solution to the problem of urban and rural child poverty.
                                    Tom is, indeed, making a mark in the social sector.
                                    He was a member of the Board of Directors of Parallex Micro Finance Bank, during which he headed the Credit Committee. He also served as a member of the Information & Technology Steering Committee, set up by the board. He is a member of the Board of Trustees, Believers Love World and also serves as a director of Loveworld USA – a foremost satellite TV station in the United States of America.
                                </p>
                            </div>
                        </div>
                    </div>
                </div
            </div>
        </div>
    </div>
</div>


<script src="~/js/parallex.js"></script>