@page
@model Parallex_MFB.Web.Pages.cardsModel
@{
}

<style>
    .paralax-header-container{
        background: url('../images/cards.jpg') no-repeat;
        background-position-y: center;
        background-position-x: center;
        background-size: 100%;
    }
</style>


<div class="container-fluid paralax-header-container">

    <div class="row">

       

        <div class="container paralax-header-text paralax-nav-barlink-font">
            <p class="header-font">Cards</p>
        </div>

    </div>

</div>

<section class="section-padding paralax-breadcrum">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-page="/~">Home</a></li>
                        <li class="breadcrumb-item"><a asp-page="/personal-account">Personal Banking</a></li>
                        <li class="breadcrumb-item"><a href="#">Cards</a></li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row ">
        <div class="col-sm-12 col-md-8" >
            <p class="inner-page-header-font ">Cards</p>
            <p class="paralax-body-font">
                We offer the Verve Debit cards, pre-funded MasterCard, Debit MasterCard and Credit Cards.
            </p>

        </div>
    </div>

</div>
