@page
@model Parallex_MFB.Web.Pages.profileModel
@{ }



<style>
    .paralax-header-container {
        background: url('../images/BuildingMod-min.png') no-repeat;
        background-position-y: center;
        background-position-x: center;
        background-size: 100%;
    }
</style>

<div class="container-fluid paralax-header-container">

    <div class="row">

        <div class="container paralax-header-text paralax-nav-barlink-font">
            <p class="header-font">Company Profile</p>
        </div>
    </div>

</div>


<section class="section-padding paralax-body-font">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-page="/~">Home</a></li>
                        <li class="breadcrumb-item"><a asp-page="/about-us">About us</a></li>
                        <li class="breadcrumb-item active"><a href="#">Company Profile</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row col-md-8">
        <p><img src="~/icons/Company Profile Icon.svg" width="100" /></p>
        <div>
            <p class="inner-page-header-font ">Company Profile</p>
            <p class="paralax-body-font">
                Parallex Bank Limited is a commercial bank duly licensed by the Central Bank of Nigeria to carry out commercial banking services in Nigeria. The bank was incorporated as a limited liability company in May 22, 2020.
            </p>
            <p class="paralax-body-font">
                Parallex Bank Limited is the first commercial bank in Nigeria to be successfully converted from a Microfinance Bank. This achievement is the first of its kind in the Nigeria banking space.
            </p>
            <p class="paralax-body-font">
                The journey to progress began in 2008 when Parallex Microfinance Bank (MFB) was incorporated as a Unit MFB. It commenced full operations in 2010 and by 2012, it acquired Moneycom Microfinance Bank. In the same year, the bank became a state MFB with five branches in Lagos. By 2013, Parallex Microfinance Bank increased its capital base to over N2billion to become a National MFB with six additional branches in Abuja, Port Harcourt, Calabar, Benin, Warri and Aba.
            </p>
            <p class="paralax-body-font">
                Parallex Microfinance Bank became one of the first Microfinance Bank in Nigeria to be enlisted on NIBSS, to carry-out interbank funds transfer and in 2015, the bank was awarded the best technology bank of the year and the best internet bank of the year at the Nigerian Banking Technology award ceremony. This was a recognition of the bank’s outstanding achievement in the implementation of large-scale initiatives, innovative ideas, risk, process integration, and high leadership qualities in alternative service delivery channels.
            </p>
            <p class="paralax-body-font">
                As the bank’s aspirations grew, its capacity to serve its customers exceptionally also grew and by 2020, the bank was well equipped to operate as a full fledge commercial bank.
            </p>
            <p class="paralax-body-font">
                At Parallex Bank Limited, we are poised to be the preferred financial solutions provider redefining customer experience through innovations. This we will achieve by leveraging the best talents and technology to deliver unparalleled value to our stakeholders. With a strong ecosystem anchored around the customer, we offer a superior product portfolio that is customer focused, innovative but simple.
            </p>
            <p class="paralax-body-font">
                Parallex Bank Limited is divinely endowed with a workforce of seasoned, dynamic and visionary professionals with the right mix of skills, expertise and experience. This is complemented by a forward-looking Board of Directors.
            </p>
            <p class="paralax-body-font">
                The bank is located at the heart of the commercial centre of Lagos at Plot 1261 Adeola Hopewell Street, Victoria Island, Lagos with a strategically located branch network across three geopolitical zones in Nigeria, including the Federal Capital Territory, Abuja.
            </p>
        </div>
    </div>

</div>