@page
@model Parallex_MFB.Web.Pages.fixedincomeaccountModel
@{
}
<style>
    .paralax-header-image-restriction {
        background: url('../images/FixedIncomeAccount.jpg') no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
    }
</style>

<div class="paralax-header-container">
    <div class="paralax-header-image-restriction">



        <div class="container paralax-header-text paralax-nav-barlink-font">
            <p class="header-font">Fixed Income Accounts</p>
           
        </div>

    </div>
</div>

<section class="section-padding paralax-breadcrum">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Personal Banking</a></li>
                        <li class="breadcrumb-item"><a href="#">Accounts</a></li>
                        <li class="breadcrumb-item"><a href="#">Fixed Income Account</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row ">
        <div class="col-md-8 col-sm-12">
            <p class="inner-page-header-font ">Fixed Income Accounts</p>
            <p class="paralax-body-font">
                To keep you earning on your excess funds, whether in local or foreign currency, the following accounts provide maximum value on your idle funds:
            </p>

            <ul>
                <li class="paralax-body-font">
                    <p>Classic Current Account</p>
                </li>
                <li class="paralax-body-font">
                    <p>Fixed Deposit Account Current Account</p>
                </li>
                <li class="paralax-body-font">
                    <p>Domiciliary Investment Account</p>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="row col-md-12 paralex-margin" style="background-color: #FFF">
    <p class="header-font"><a class="header-font" href="#">Click Here</a> To Get Started</p>
</div>